# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment Variables
.env

# Credentials
firebase_creds.json
*.pem

# Machine Learning models
*.joblib

# IDE
.vscode/
.idea/

# Local environments, databases and test tools
.venv/
node_modules/
.local/
